*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  color: rgb(207, 204, 204);
}

body{
    background: #f2f2f2;
}

nav{
  background: #1b1b1b;
}

nav:after{
  content: '';
  clear: both;
  display: table;
}

nav .logo{
  float: left;
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  padding-left: 30px;
  /* display: none; */
}

/* nav .img{
  width: 50px;
} */

nav ul{
  float:right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li{
  position: relative;
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}

nav ul li a{
  color:white;
  text-decoration: none;
  line-height: 40px;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul li a:hover{
  color: cyan;
  box-shadow: 0 0 5px #33ffff,
              0 0 5px #66ffff;
}

nav ul ul{
  position: absolute;
  top: -60px;
  opacity: 0;
  visibility:hidden;
  transition: top .2s;
}

nav ul li:hover > ul{
  top: 35px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li{
  position: relative;
  margin: 0;
  /* line-height: 0px; */
  /* padding: 5px; */
  width: 140px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0.3,0,0);
}

nav ul ul li a:hover{
  width: 70px;
  color: cyan;
  box-shadow: none;
}

.show,.icon,input{
  display: none;
}

@media all and (max-width: 968px) {
  nav ul{
    margin-right: 0px;
    float: left;
  }

  nav .logo{
    padding-left: 10px;
    width: 100%;
    line-height:80px;
  }

  /* nav .logo img{
    width: 50px;
    margin: 15px 0;
    /* padding-left: -20px; */
    /* float: left; */
  /* } */

  nav ul li, nav ul ul li{
    display: block;
    width: 100%;
  }

  nav ul ul{
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul li{
    border-bottom: 0px;
  }

  nav ul ul a{
    padding-left: 40px;
  }

  .show{
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover{
    color: cyan;
  }

  .icon{
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul li a:hover{
    box-shadow: none;
  }
  .show + a, ul{
    display:none;
  }
  [id^=btn]:checked + ul{
    display: block;
  }
}